# Deliverables:

- Submit a single zip-compressed file that has the name: YourLastName_Exercise_1 that has the following files:

 1. Your **PDF document** that has your Source code and output
 2. Your **ipynb script** that has your Source code and output


# Objectives:

In this exercise, you will:

 - Perform data analysis tasks on data read from a CSV file and loaded into a DataFrame object
 - Use sqlalchemy to load data stored in a DatFrame object into sqlite database engine
 - Use sqlalchemy to connect to sqlite database engine to execute  SQL  queries




# Submission Formats :

Create a folder or directory with all supplementary files with your last name at the beginning of the folder name, compress that folder with zip compression, and post the zip-archived folder under the assignment link in Canvas. The following files should be included in an archive folder/directory that is uploaded as a single zip-compressed file. (Use zip, not StuffIt or any 7z or any other compression method.)


1. Complete IPYNB script that has the source code in Python used to access and analyze the data. The code should be submitted as an IPYNB script that can be be loaded and run in Jupyter Notebook for Python
2. Output from the program, such as console listing/logs, text files, and graphics output for visualizations. If you use the Data Science Computing Cluster or School of Professional Studies database servers or systems, include Linux logs of your sessions as plain text files. Linux logs may be generated by using the script process at the beginning of your session, as demonstrated in tutorial handouts for the DSCC servers.
3. List file names and descriptions of files in the zip-compressed folder/directory.


Formatting Python Code
When programming in Python, refer to Kenneth Reitz’ PEP 8: The Style Guide for Python Code:
http://pep8.org/ (Links to an external site.)Links to an external site.
There is the Google style guide for Python at
https://google.github.io/styleguide/pyguide.html (Links to an external site.)Links to an external site.
Comment often and in detail.

In [23]:
import os

import  pickle

import pandas as pd  # panda's nickname is pd

import numpy as np  # numpy as np

from pandas import DataFrame, Series     # for convenience

In [24]:
xyzcust10=pd.read_csv('xyzcust10.csv')

In [25]:
(xyzcust10).dtypes

ACCTNO                    object
ZIP                        int64
ZIP4                       int64
LTD_SALES                float64
LTD_TRANSACTIONS           int64
YTD_SALES_2009           float64
YTD_TRANSACTIONS_2009      int64
CHANNEL_ACQUISITION       object
BUYER_STATUS              object
ZIP9_Supercode             int64
ZIP9_SUPERCODE             int64
dtype: object

In [26]:
type(xyzcust10)

pandas.core.frame.DataFrame

In [27]:
pickle.dump(xyzcust10,open('xyzcust10.p','wb'))

In [28]:
xyzcust10=pickle.load(open('xyzcust10.p','rb'))	

xyzcust10red = xyzcust10.copy()	# by default makes a “deep” copy

xyzcust10rev1=xyzcust10.copy()	# by default makes a “deep” copy


The above assumes that xyzcust10.p is in your default directory.  Otherwise, you'll need to include a path specification, of course.

xyzcust10 should be a pandas DataFrame:

In [29]:
type(xyzcust10)

pandas.core.frame.DataFrame

In [30]:
xyzcust10.head()

,ACCTNO,ZIP,ZIP4,LTD_SALES,LTD_TRANSACTIONS,YTD_SALES_2009,YTD_TRANSACTIONS_2009,CHANNEL_ACQUISITION,BUYER_STATUS,ZIP9_Supercode,ZIP9_SUPERCODE
0,WDQQLLDQL,60084,5016,90.0,1,0.0,0,IB,INACTIVE,600845016,600845016
1,WQWAYHYLA,60091,1750,4227.0,9,1263.0,3,RT,ACTIVE,600911750,600911750
2,GSHAPLHAW,60067,900,420.0,3,129.0,1,RT,ACTIVE,600670900,600670900
3,PGGYDYWAD,60068,3838,6552.0,6,0.0,0,RT,INACTIVE,600683838,600683838
4,LWPSGPLLS,60090,3932,189.0,3,72.0,1,RT,ACTIVE,600903932,600903932

xyzcust10 appears to have two nine-digit ZIP “supercode” columns with slightly different column labels or names.  To see them, try entering xyzcust10.columns or xyzcust10.dtypes at the command prompt.  Are the values in these two columns the same?  If so, we can get rid of one of them.  There are different ways we can figure out whether they are the same, but a simple way is to test each pair of values to see if they are equal or not, and then to total up the results, the number of equal pairs or not equal pairs:

In [31]:
xyzcust10.columns

Index(['ACCTNO', 'ZIP', 'ZIP4', 'LTD_SALES', 'LTD_TRANSACTIONS',
       'YTD_SALES_2009', 'YTD_TRANSACTIONS_2009', 'CHANNEL_ACQUISITION',
       'BUYER_STATUS', 'ZIP9_Supercode', 'ZIP9_SUPERCODE'],
      dtype='object')

In [32]:
xyzcust10.dtypes

ACCTNO                    object
ZIP                        int64
ZIP4                       int64
LTD_SALES                float64
LTD_TRANSACTIONS           int64
YTD_SALES_2009           float64
YTD_TRANSACTIONS_2009      int64
CHANNEL_ACQUISITION       object
BUYER_STATUS              object
ZIP9_Supercode             int64
ZIP9_SUPERCODE             int64
dtype: object

In [33]:
(xyzcust10.ZIP9_Supercode!=xyzcust10.ZIP9_SUPERCODE).sum()

0

which will return zero if the values in the two columns are the same.  What result do you get?

Note that what's going on here is that what's in the parentheses is a logical test of inequality between the two columns of the DataFrame (which are also pandas Series objects), which results in a Series of true or false Boolean values.  The post-pended .sum() function adds up over the Series by treating the Trues as 1's, and the Falses as 0's.  So if the result is zero, the two Series are identical, except for their names, of course.



We could have also expressed the logical comparison in the parens as 
(~(xyzcust10.ZIP9_Supercode==xyzcust10.ZIP9_SUPERCODE))

to get the same result, since the the “twidddle,” the ~, works in some pandas contexts as “not.”  What kind of result do you think you'd get with the following variation:

	~(xyzcust10.ZIP9_Supercode==xyzcust10.ZIP9_SUPERCODE).sum()

Why might it be different?

Note that we could have referred to the columns differently, for example:

			xyzcust10['ZIP9_Supercode']

Columns in DataFrames can be referred to in different ways.  We'll see more of them going forward.

In [34]:
 xyzcust10['ZIP9_Supercode']

0        600845016
1        600911750
2        600670900
3        600683838
4        600903932
5        600858670
6        600913447
7        600911613
8        600683668
9        600911759
10       600818325
11       600562960
12       600912813
13       600673528
14       600603209
15       600891326
16       600692129
17       600911453
18       600682219
19       600624628
20       600912346
21       600614527
22       600612123
23       600894622
24       600626077
25       600818248
26       600932706
27       600623210
28       600933840
29       600905705
           ...
30441    600987410
30442    600987615
30443    600988020
30444    600988426
30445    600988550
30446    600987893
30447    600987977
30448    600987805
30449    600988014
30450    600988671
30451    600988128
30452    600988760
30453    600988093
30454    600987108
30455    600987552
30456        60098
30457    600989172
30458    600988958
30459    600989029
30460    600987869
30461    600982556
30462    600980142
30463    600982857
30464    600983342
30465    600987858
30466    600983951
30467    600989681
30468    600983858
30469    600987927
30470    600984160
Name: ZIP9_Supercode, Length: 30471, dtype: int64

So, Oops!  Someone included the same column in the data twice, but with slightly different names. Why waste the space?  Why risk confusion?  Let's get rid of one of them:

We could do:

In [35]:
del xyzcust10['ZIP9_Supercode']
del xyzcust10rev1['ZIP9_Supercode']

or

In [36]:
xyzcust10red.drop('ZIP9_Supercode',axis=1,inplace=True)

Next we're going to shift gears and gobble up some transaction data for XYZ's customers.  They are in a table in a SQLite3 relational database (“RDB”) file that's called xyz.db.  This file is available to you in the compressed file that you download from Canvas.  At this point you might want to pickle xyzcust10rev1 in case you need to end your session and start again later.  Remember that things in a Python session are not permanent.

To make things simple you'll want to put the xyz.db file in a place where you can find it easily from in Anaconda.  Your default directory would be a good bet.   Remember what it is?  See what os.getcwd() tells you.

In [37]:
os.getcwd()

'C:\\Users\\jrh597\\MSDS 420'

If you installed the sqlite3 client, you can take a look at this database (“DB”) using it and without using Python. sqlSQLite3 is a very simple and easy to use RDB, and it doesn't require a server.  Assuming that you've installed it and that you're in the directory were you put xyztrans.db, using the command from your OS command prompt:

c:\bader\nu\420\ExercisePractices\ExercisePractice3>sqlite3 xyz.db
SQLite version 3.8.8.3 2015-02-25 13:29:11
Enter ".help" for usage hints.
sqlite>

will start sqlite3 and open the db file.  You can see the tables in this db with the sqlite3 command .tables .  (That's a period, “.” before tables. “Help” in sqlSQLite3 is .help  .)

sqlite> .tables
xyztrans
sqlite>

There are a couple of different ways to read and write data to RDBs using Python, but the most flexible and easiest may be by using what's in pandas.  pandas will make use of the SQLAlchemy package, which is available for installation within Anaconda.  (Did you install it in Session 1?)  SQLAlchemy provides a consistent interface with different RDBs, SQLite being one of them.

Let's get SQLAlchemy into our IPython session:

In [19]:
import sqlalchemy

Now if you do the sqlalchemy.<tab> trick from the command prompt, you'll be able to see SQLAlchemy's various (and many) attributes and functions.

To simplify things, let's get a function out of SQLAlchemy that we'll use to define the SQLite3 db we'll be working with:

In [38]:
from sqlalchemy import create_engine

Now let's specify the xyz db as the SQLite3 RDB we want to work with:

In [39]:
engine=create_engine('sqlite:///xyz.db')

This assumes that you have xyz.db in your current working directory.  There are different valid syntaxes, e.g.

sqlite:///:memory: (or, sqlite://) 
sqlite:///relative/path/to/file.db 
sqlite:////absolute/path/to/file.db 

We used the second syntax, above.  Be sure to use the correct number of slashes for the version you want to use.  You need the enclosing single quotes, too.

There's only one table in this RDB.  It's called “xyztrans.” Let's read it into a DataFrame:

In [40]:
xyztrans=pd.read_sql('xyztrans', engine)

xyztrans is a DataFrame.  This defaults to reading all records from the db.  What columns have been read from the table xyztrans?  Try:

In [41]:
xyztrans.dtypes

index             int64
ACCTNO           object
QTY               int64
TRANDATE         object
TRAN_CHANNEL     object
PRICE           float64
TOTAMT          float64
ORDERNO          object
DEPTDESCR        object
dtype: object

or

In [42]:
xyztrans.columns

Index(['index', 'ACCTNO', 'QTY', 'TRANDATE', 'TRAN_CHANNEL', 'PRICE', 'TOTAMT',
       'ORDERNO', 'DEPTDESCR'],
      dtype='object')

This db has only one table in it.  What if it had more than one, and you didn't know their names?  How would you know? Well, one way is to read some “metadata” from it:

In [43]:
from sqlalchemy import schema

In [44]:
xyzMetaData=schema.MetaData(bind=engine)
xyzMetaData.reflect()

In [45]:
xyzMetaData.tables

immutabledict({'xyztrans': Table('xyztrans', MetaData(bind=Engine(sqlite:///xyz.db)), Column('index', BIGINT(), table=<xyztrans>), Column('ACCTNO', TEXT(), table=<xyztrans>), Column('QTY', BIGINT(), table=<xyztrans>), Column('TRANDATE', TEXT(), table=<xyztrans>), Column('TRAN_CHANNEL', TEXT(), table=<xyztrans>), Column('PRICE', FLOAT(), table=<xyztrans>), Column('TOTAMT', FLOAT(), table=<xyztrans>), Column('ORDERNO', TEXT(), table=<xyztrans>), Column('DEPTDESCR', TEXT(), table=<xyztrans>), schema=None)})


xyzMetaData.tables will be a dict that contains information about the db.  Tables will be keys in this dict:

In [46]:
xyzMetaData.tables.keys()

dict_keys(['xyztrans'])


At this point there's only one table name, 'xyztrans,” in xyz.db.  You'll see another method for inspecting DB's below.

We're going to write the xyz customer records into a new table in the sqlite3 RDB, but before we do that let's make sure that the records are unique, that is, that no customer has more than one record.   We can do this with some pandas DataFrame methods.  Using the customer DataFrame xyzcust10rev1

In [47]:
xyzcust10rev1.duplicated().sum()

292

will return a zero if all records are unique, or the number of rows in xyzcust10rev1 that are duplicates.  The reason is that the duplicated() method for the DataFrame returns a Series of Trues and Falses, a Boolean Series.  Summing over the Series forces the values to be cast as numeric.

Oops.  There are some duplicates.  How many duplicates do you find in xyzcust10rev1?

To rid a DataFrame of unduplicated rows,

In [48]:
xyzcustUnDup=xyzcust10rev1.drop_duplicates()

xyzcustUnDup.duplicated().sum()

0


How many unique customer records do you now have?  By the way, note that you could have limited your examination to just one or more columns, for example just ACCTNO, customer account number, by providing ACCTNO as an argument or by using it to define a Series:

In [49]:
xyzcust10rev1.duplicated('ACCTNO').sum()

292

In [50]:
xyzcust10rev1.ACCTNO.duplicated().sum()

292


When there are duplicates of a record, which of them do you think .drop_duplicates() retains?

Now that we've checked for, and have removed, duplicate customer records, from the customer records, let's write them into a new table in xyztrans.db.

In [51]:
xyzcustUnDup.to_sql('xyzcust', engine)

Did it create the table in xyz.db?  Check:

In [52]:
pd.read_sql_table('xyzcust', engine).columns

Index(['index', 'ACCTNO', 'ZIP', 'ZIP4', 'LTD_SALES', 'LTD_TRANSACTIONS',
       'YTD_SALES_2009', 'YTD_TRANSACTIONS_2009', 'CHANNEL_ACQUISITION',
       'BUYER_STATUS', 'ZIP9_SUPERCODE'],
      dtype='object')

should produce the columns of the DataFrame you wrote to the db.  Remember that “engine” refers to the SQLite3 DB by way of defining the connection using SQLAlchemy's create_engine method.

How many tables are there now in xyz.db?  And, what are their names? Do

In [53]:
xyzMetaData.tables.keys()

dict_keys(['xyztrans'])

Another way to look at the metadata of an RDB using SQLAlchemy is by using the “inspect” method:

In [54]:
xyzMetaData

MetaData(bind=Engine(sqlite:///xyz.db))

In [55]:
from sqlalchemy import inspect

In [56]:
insp=inspect(engine)

In [57]:
 insp.get_table_names()

['xyzcust', 'xyztrans']


Do you think there are any duplicates in the order transaction data?  If so, what would you make of them?

You can use SQLAlchemy to query a DB so as to import selected records from an RDB.  You can also append records to existing tables in an RDB, create various kinds of DB indexes, and pretty much do everything you would do using standard SQL while interacting with an RDB using a client for it.   As a query example, suppose we wanted to select from the xyz tranaction data in the xyztrans.db all transactions made in XYZ's retail stores.  These are coded as RT in the table's TRAN_CHANNEL.  We could do:

In [58]:
rttrans=pd.read_sql_query("SELECT * FROM xyztrans WHERE TRAN_CHANNEL='RT'", engine)



A last point about SQLAlchemy:  it has its own declarative language that provides means of interacting with DB's that is more “object oriented” than traditional SQL is.  You can find lots of documentation about SQLAlchemy at http://www.sqlalchemy.org.

In [59]:
rttrans

,index,ACCTNO,QTY,TRANDATE,TRAN_CHANNEL,PRICE,TOTAMT,ORDERNO,DEPTDESCR
0,0,WGDQLA,1,09JUN2009,RT,599.85,599.85,CCXXNNXXXXUX,Home Audio
1,1,WGDQLA,1,09JUN2009,RT,39.00,39.00,CCXXNNXXXXUX,Small Appliances
2,2,WGDQLA,1,28NOV2009,RT,15.00,15.00,CCXNXXKXXXRI,Small Appliances
3,3,WGDQLA,1,28NOV2009,RT,69.00,69.00,CCXNXXKXXXRI,Small Appliances
4,4,WGDQLA,1,28NOV2009,RT,84.00,84.00,CCXNXXKXXXRI,Small Appliances
5,5,WGDQLA,1,28NOV2009,RT,69.00,69.00,CCXNXXKXXXRI,Small Appliances
6,6,WGDQLA,1,28NOV2009,RT,89.85,89.85,CCXNXXKXXXRI,Small Appliances
7,7,WGDQLA,1,28NOV2009,RT,119.85,119.85,CCXNXXKXXXRI,Home Audio
8,8,APSYYW,1,07JUN2009,RT,22.50,22.50,CCXNKNNXXXNC,Mobile Electronic Accessories
9,9,APSYYW,1,07JUN2009,RT,44.85,44.85,CCXNKNNXXXNC,Mobile Electronic Accessories
10,10,APSYYW,1,07JUN2009,RT,30.00,30.00,CCXNKNNXXXNC,Mobile Electronic Accessories
11,11,APSYYW,1,07JUN2009,RT,30.00,30.00,CCXNKNNXXXNC,Mobile Electronic Accessories
12,13,GGDWGY,1,14SEP2009,RT,239.85,239.85,CCXZZKRXXXKI,Home Audio
13,14,GGDWGY,1,18DEC2009,RT,234.00,234.00,CCXCUKRXXXVI,Portable Electronics
14,15,HHSSAL,1,13SEP2009,RT,66.00,66.00,CCXZVKRXXXNI,Small Appliances
15,16,HHSSAL,1,13SEP2009,RT,66.00,66.00,CCXZVKRXXXNI,Small Appliances
16,17,HHSSAL,1,13SEP2009,RT,38.25,38.25,CCXZVKRXXXNI,Mobile Electronic Accessories
17,18,HHSSAL,1,13SEP2009,RT,28.50,28.50,CCXZVKRXXXNI,Mobile Electronic Accessories
18,19,HHSSAL,1,13SEP2009,RT,43.50,43.50,CCXZVKRXXXNI,Mobile Electronic Accessories
19,20,HHSSAL,1,13SEP2009,RT,24.00,24.00,CCXZVKRXXXNI,Small Appliances
20,21,HHSSAL,1,13SEP2009,RT,42.00,42.00,CCXZVKRXXXNI,Mobile Electronic Accessories
21,22,HHSSAL,1,13SEP2009,RT,38.85,38.85,CCXZVKRXXXNI,Mobile Electronic Accessories
22,23,HHSSAL,1,13SEP2009,RT,105.00,105.00,CCXZVKRXXXNI,Small Appliances
23,24,HHSSAL,1,13SEP2009,RT,30.00,30.00,CCXZVKRXXXNI,Mobile Electronic Accessories
24,25,HHSSAL,1,13SEP2009,RT,32.85,32.85,CCXZVKRXXXNI,Mobile Electronic Accessories
25,26,HHSSAL,1,13SEP2009,RT,84.00,84.00,CCXZVKVXXXNI,Mobile Electronic Accessories
26,27,HHSSAL,1,18DEC2009,RT,28.50,28.50,CCXCURUXXXVI,Mobile Electronic Accessories
27,28,HHSSAL,1,18DEC2009,RT,43.50,43.50,CCXCURUXXXVI,Mobile Electronic Accessories
28,29,HHSSAL,1,18DEC2009,RT,27.00,27.00,CCXCURUXXXVI,Small Appliances
29,30,HHSSAL,1,18DEC2009,RT,31.50,31.50,CCXCURUXXXVI,Mobile Electronic Accessories
...,...,...,...,...,...,...,...,...,...
53781,62350,GYLAPPYPQ,1,11OCT2009,RT,59.85,59.85,CCXINNVXXXKC,Small Appliances
53782,62351,GYLAPPYPQ,1,11OCT2009,RT,126.00,126.00,CCXINNVXXXKC,Small Appliances
53783,62352,GYLAPPYPQ,1,11OCT2009,RT,81.00,81.00,CCXINNVXXXKC,Small Appliances
53784,62353,GYLAPPYPQ,1,11OCT2009,RT,36.00,36.00,CCXINNVXXXKC,Small Appliances
53785,62354,GYLAPPYYW,1,10OCT2009,RT,31.50,31.50,CCXKEUIXXXNC,Mobile Electronic Accessories
53786,62355,GYLPADYQL,1,14OCT2009,RT,59.85,59.85,CCXXUKZXXXNI,Small Appliances
53787,62356,GYLPADYQL,1,14OCT2009,RT,36.00,36.00,CCXXUKZXXXNI,Mobile Electronic Accessories
53788,62357,GYLPADYQL,1,14OCT2009,RT,72.00,72.00,CCXXUKZXXXNI,Small Appliances
53789,62358,GYLPADYQL,1,14OCT2009,RT,72.00,72.00,CCXXUKZXXXNI,Small Appliances
53790,62359,GYLPADYQL,1,14OCT2009,RT,27.00,27.00,CCXXUKZXXXNI,Mobile Electronic Accessories
53791,62360,GYLPADYQL,1,14OCT2009,RT,48.00,48.00,CCXXUKZXXXNI,Small Appliances
53792,62361,GYLPADYQL,1,14OCT2009,RT,66.00,66.00,CCXXUKZXXXNI,Small Appliances
53793,62362,GYLPADYQL,1,14OCT2009,RT,57.00,57.00,CCXXUKZXXXNI,Small Appliances
53794,62364,GYLHWWQGW,1,21NOV2009,RT,36.00,36.00,CCXNCKZXXXVC,Home Audio
53795,62365,GYLHWWQGW,1,21NOV2009,RT,30.00,30.00,CCXNCKZXXXVC,Mobile Electronic Accessories
53796,62366,GYLHWWQGW,1,21NOV2009,RT,28.50,28.50,CCXNCKZXXXVC,Mobile Electronic Accessories
53797,62367,GYLHWWQGW,1,21NOV2009,RT,54.00,54.00,CCXNCKZXXXVC,Mobile Electronic Accessories
53798,62368,GYLHWWQGW,1,21NOV2009,RT,28.50,28.50,CCXNCKZXXXVC,Mobile Electronic Accessories
53799,62369,GYLYSQQSG,1,27NOV2009,RT,27.00,27.00,CCXXNXZXXXNI,Small Appliances
53800,62370,GYLYSQQSG,1,27NOV2009,RT,45.00,45.00,CCXXNXZXXXNI,Small Appliances
53801,62371,GYLYSQQSG,1,27NOV2009,RT,74.85,74.85,CCXXNXZXXXNI,Small Appliances
53802,62372,GYLYSQQSG,1,21NOV2009,RT,62.64,62.64,CCXUVZUXXXKI,Portable Electronics
53803,62373,GYLYSQQSG,1,21NOV2009,RT,299.85,299.85,CCXUVZUXXXKI,Home Audio
53804,62374,GYLYSQQSG,1,29OCT2009,RT,299.85,299.85,CCXIVCCXXXNI,Home Audio
53805,62375,GYLYSQQSG,1,14NOV2009,RT,32.85,32.85,CCXCXIKXXXNI,Mobile Electronic Accessories
53806,62376,GYLYSQQSG,1,14NOV2009,RT,45.00,45.00,CCXCXIKXXXNI,Mobile Electronic Accessories
53807,62377,GYLYSQQSG,1,14NOV2009,RT,15.00,15.00,CCXCXIKXXXNI,Mobile Electronics
53808,62378,GYLYSQQSG,1,29NOV2009,RT,42.00,42.00,CCXCRZEXXXNI,Mobile Electronic Accessories
53809,62379,GYLYSQQSG,1,29NOV2009,RT,74.85,74.85,CCXCRZIXXXNI,Small Appliances
53810,62381,GYGWWHQWW,1,24OCT2009,RT,1199.90,1199.85,CCXKXKRXXXRI,Home Audio

In [60]:
custtrans=pd.read_sql_query("SELECT * FROM xyzcust", engine)

In [61]:
custtrans.head()

,index,ACCTNO,ZIP,ZIP4,LTD_SALES,LTD_TRANSACTIONS,YTD_SALES_2009,YTD_TRANSACTIONS_2009,CHANNEL_ACQUISITION,BUYER_STATUS,ZIP9_SUPERCODE
0,0,WDQQLLDQL,60084,5016,90.0,1,0.0,0,IB,INACTIVE,600845016
1,1,WQWAYHYLA,60091,1750,4227.0,9,1263.0,3,RT,ACTIVE,600911750
2,2,GSHAPLHAW,60067,900,420.0,3,129.0,1,RT,ACTIVE,600670900
3,3,PGGYDYWAD,60068,3838,6552.0,6,0.0,0,RT,INACTIVE,600683838
4,4,LWPSGPLLS,60090,3932,189.0,3,72.0,1,RT,ACTIVE,600903932

In [62]:
allrttrans=pd.read_sql_query("SELECT * FROM xyztrans", engine)

In [63]:
allrttrans.head()

,index,ACCTNO,QTY,TRANDATE,TRAN_CHANNEL,PRICE,TOTAMT,ORDERNO,DEPTDESCR
0,0,WGDQLA,1,09JUN2009,RT,599.85,599.85,CCXXNNXXXXUX,Home Audio
1,1,WGDQLA,1,09JUN2009,RT,39.00,39.00,CCXXNNXXXXUX,Small Appliances
2,2,WGDQLA,1,28NOV2009,RT,15.00,15.00,CCXNXXKXXXRI,Small Appliances
3,3,WGDQLA,1,28NOV2009,RT,69.00,69.00,CCXNXXKXXXRI,Small Appliances
4,4,WGDQLA,1,28NOV2009,RT,84.00,84.00,CCXNXXKXXXRI,Small Appliances

# Requirements :
1. Get a list of all records in xyzcust table where YTD_SALES_2009 > 1000
2. Get a list of all records in xyzcust table where YTD_SALES_2009 > 1000 and CHANNEL_ACQUISITION = 'RT' 
3. What is the total number of records in in xyzcust table where YTD_SALES_2009 > 1000, CHANNEL_ACQUISITION = 'RT', and ZIP = 60056

In [64]:
# Write your python code that meets the above requirements in this cell

In [70]:
sales_over_thousand=custtrans.query('YTD_SALES_2009>1000')
custtrans.groupby('YTD_SALES_2009').size()
print(sales_over_thousand)

       index     ACCTNO    ZIP  ZIP4  LTD_SALES  LTD_TRANSACTIONS  \
1          1  WQWAYHYLA  60091  1750     4227.0                 9
12        12  WLDAYHQLW  60091  2813     3240.0                 7
24        24   ASDHAYAW  60062  6077     3411.0                19
31        31    HDWAWLH  60069  3402    25476.0                93
40        40  GSHLHGHWW  60070  2352     3576.0                10
76        77  LGDGQPGDH  60061  4540     2364.0                17
77        78   GQHYPQYD  60093  2902    12828.0                51
114      116  WYDPLSHGP  60091  1707     7671.0                25
124      126  WYPYWWPQP  60091  1620     4812.0                23
137      139  SGAHSWLHA  60093  3748    14448.0                 5
228      231  GHYYWDLAL  60093  1004    36495.0                97
303      307  WHAHHQAAP  60056  2948     4860.0                 6
309      313  GGDALSQLG  60091  2553     3300.0                 1
322      326  LPSLDDGYA  60062  5154     3435.0                16
360      364  GHPGDAWDD  60098  2424     1272.0                 6
384      388  PWLYYQADS  60069  3211     3201.0                 5
393      397  WDDASHSAA  60062  6028     2148.0                 9
455      461    SLYLSYH  60084  9767     6978.0                17
473      479   WGHGGADH  60067  6775     8943.0                40
481      487  PGLQALDPY  60067  4242     7665.0                20
487      493   PLDDDQHL  60076  2132     1170.0                 8
539      545  ALQSDWDWD  60091  3024     1362.0                 3
557      563  GGHAHHYDW  60091  1524     4341.0                17
558      564  GGAWQLAQP  60074  3875     5529.0                46
578      584  LDAGWDWGH  60091  1636     4527.0                23
599      605  SSWQPHAAL  60068  2865     2844.0                10
622      628  SGHWGWYYA  60089  6822     6762.0                15
649      655  PYSWDYHPS  60091  1512     5484.0                14
695      701  PPLQYQSLW  60093  1501     3195.0                 6
770      777   YYAPWDWP  60062  1027     1020.0                 2
...      ...        ...    ...   ...        ...               ...
29737  30029  SLADGALPA  60067  4638     2331.0                15
29749  30041  WPWQSAYYY  60062  4938     2844.0                13
29769  30061   HAYLQDGD  60062  5159     2466.0                 5
29806  30098  PGAGWYPHW  60067  4858     2919.0                10
29826  30118   GSSDDHAD  60093  3828    10062.0                10
29828  30120  SPSYSLDAA  60093  1638     4329.0                14
29856  30148  WQDSWAQGG  60074  7042     3897.0                 7
29859  30151  ADAWGPSAP  60060  1021     2712.0                18
29868  30160  AHWYWYAPH  60091  1134     6444.0                13
29880  30172  SQHGQPYWD  60098     0     8238.0                14
29889  30181  GPDQDAYYD  60098  3215     4557.0                 4
29916  30208  SLLWSDPQS  60098  8871     4071.0                13
29929  30221  WPPPHLQPS  60098  8146     6768.0                14
29933  30225  WDYHSAPDH  60098  8993     6090.0                11
29936  30228   PGDAAPPD  60098  9446     1437.0                 3
29941  30233   LDDLASSS  60098  7855    12981.0                36
29968  30260  LWYGPLGPS  60098  9011     4191.0                 8
29991  30283  WSAYGYYQS  60098  3362     4203.0                 7
29994  30286  ASSAWWQHH  60098  7903     1380.0                 4
30008  30300  PWDWPPDAY  60098  7881     1929.0                 6
30012  30304  AQPLGQSHD  60098  4206     4608.0                17
30018  30310  GGSDQLHGY  60098  2271     1068.0                 2
30037  30329  WSAGSPDPQ  60098  8877     3669.0                21
30038  30330  WDGYGAQQH  60098  8048     2685.0                 6
30044  30336  PLHHGGQYH  60098  8075     6681.0                16
30066  30358  LWWAWAPQD  60098  8091    21030.0                20
30087  30379  AYQWWQLHY  60098  7943     4092.0                 9
30114  30406   WWQYYPSA  60098  3133     2100.0                 3
30116  30408  WLLWDLLYD  60098  7807     1827.0                 2
30162  30454  LLQLHHQYP  60098  7108     2184.0                 3

       YTD_SALES_2009  YTD_TRANSACTIONS_2009 CHANNEL_ACQUISITION BUYER_STATUS  \
1              1263.0                      3                  RT       ACTIVE
12             2064.0                      3                  RT       ACTIVE
24             1875.0                      5                  RT       ACTIVE
31             1623.0                      4                  RT       ACTIVE
40             1398.0                      3                  IB       ACTIVE
76             1359.0                      7                  RT       ACTIVE
77             1815.0                      7                  RT       ACTIVE
114            1152.0                      6                  IB       ACTIVE
124            1116.0                      5                  RT       ACTIVE
137           14448.0                      5                  RT       ACTIVE
228            5586.0                     13                  RT       ACTIVE
303            2349.0                      2                  CB       ACTIVE
309            3300.0                      1                  IB       ACTIVE
322            1410.0                      8                  RT       ACTIVE
360            1272.0                      6                  RT       ACTIVE
384            1029.0                      3                  RT       ACTIVE
393            1026.0                      3                  RT       ACTIVE
455            1152.0                      3                  CB       ACTIVE
473            1845.0                      8                  RT       ACTIVE
481            3702.0                      7                  RT       ACTIVE
487            1170.0                      8                  RT       ACTIVE
539            1245.0                      2                  RT       ACTIVE
557            1083.0                      2                  RT       ACTIVE
558            1122.0                      9                  IB       ACTIVE
578            1023.0                      3                  IB       ACTIVE
599            1818.0                      5                  RT       ACTIVE
622            1023.0                      2                  RT       ACTIVE
649            1218.0                      3                  RT       ACTIVE
695            1074.0                      1                  CB       ACTIVE
770            1020.0                      2                  IB       ACTIVE
...               ...                    ...                 ...          ...
29737          1134.0                      3                  RT       ACTIVE
29749          1038.0                      3                  IB       ACTIVE
29769          2298.0                      3                  RT       ACTIVE
29806          1827.0                      2                  RT       ACTIVE
29826          1728.0                      1                  RT       ACTIVE
29828          1416.0                      1                  RT       ACTIVE
29856          1008.0                      2                  RT       ACTIVE
29859          1377.0                      6                  RT       ACTIVE
29868          4173.0                      9                  RT       ACTIVE
29880          1404.0                      3                  RT       ACTIVE
29889          1920.0                      2                  RT       ACTIVE
29916          1293.0                      4                  RT       ACTIVE
29929          2655.0                      2                  RT       ACTIVE
29933          1449.0                      3                  RT       ACTIVE
29936          1437.0                      3                  IB       ACTIVE
29941          1308.0                      8                  CB       ACTIVE
29968          1158.0                      2                  RT       ACTIVE
29991          1989.0                      1                  RT       ACTIVE
29994          1296.0                      3                  RT       ACTIVE
30008          1491.0                      2                  RT       ACTIVE
30012          1740.0                      5                  RT       ACTIVE
30018          1068.0                      2                  RT       ACTIVE
30037          1263.0                      4                  RT       ACTIVE
30038          1296.0                      1                  RT       ACTIVE
30044          2985.0                      7                  RT       ACTIVE
30066          5322.0                      5                  RT       ACTIVE
30087          2625.0                      3                  RT       ACTIVE
30114          1800.0                      2                  IB       ACTIVE
30116          1827.0                      2                  RT       ACTIVE
30162          1248.0                      2                  RT       ACTIVE

       ZIP9_SUPERCODE
1           600911750
12          600912813
24          600626077
31          600693402
40          600702352
76          600614540
77          600932902
114         600911707
124         600911620
137         600933748
228         600931004
303         600562948
309         600912553
322         600625154
360         600982424
384         600693211
393         600626028
455         600849767
473         600676775
481         600674242
487         600762132
539         600913024
557         600911524
558         600743875
578         600911636
599         600682865
622         600896822
649         600911512
695         600931501
770         600621027
...               ...
29737       600674638
29749       600624938
29769       600625159
29806       600674858
29826       600933828
29828       600931638
29856       600747042
29859       600601021
29868       600911134
29880       600988087
29889       600983215
29916       600988871
29929       600988146
29933       600988993
29936       600989446
29941       600987855
29968       600989011
29991       600983362
29994       600987903
30008       600987881
30012       600984206
30018       600982271
30037       600988877
30038       600988048
30044       600988075
30066       600988091
30087       600987943
30114       600983133
30116       600987807
30162       600987108

[1633 rows x 11 columns]

In [78]:
sales_over_thousand_rt=sales_over_thousand.query('CHANNEL_ACQUISITION=="RT"')
print(sales_over_thousand_rt)

       index     ACCTNO    ZIP  ZIP4  LTD_SALES  LTD_TRANSACTIONS  \
1          1  WQWAYHYLA  60091  1750     4227.0                 9
12        12  WLDAYHQLW  60091  2813     3240.0                 7
24        24   ASDHAYAW  60062  6077     3411.0                19
31        31    HDWAWLH  60069  3402    25476.0                93
76        77  LGDGQPGDH  60061  4540     2364.0                17
77        78   GQHYPQYD  60093  2902    12828.0                51
124      126  WYPYWWPQP  60091  1620     4812.0                23
137      139  SGAHSWLHA  60093  3748    14448.0                 5
228      231  GHYYWDLAL  60093  1004    36495.0                97
322      326  LPSLDDGYA  60062  5154     3435.0                16
360      364  GHPGDAWDD  60098  2424     1272.0                 6
384      388  PWLYYQADS  60069  3211     3201.0                 5
393      397  WDDASHSAA  60062  6028     2148.0                 9
473      479   WGHGGADH  60067  6775     8943.0                40
481      487  PGLQALDPY  60067  4242     7665.0                20
487      493   PLDDDQHL  60076  2132     1170.0                 8
539      545  ALQSDWDWD  60091  3024     1362.0                 3
557      563  GGHAHHYDW  60091  1524     4341.0                17
599      605  SSWQPHAAL  60068  2865     2844.0                10
622      628  SGHWGWYYA  60089  6822     6762.0                15
649      655  PYSWDYHPS  60091  1512     5484.0                14
801      808  GHGLQQYYH  60081  8744     1320.0                 1
816      823  APLLSGSDG  60067  7900     6492.0                16
837      844  WYAYGPPLP  60093  2436     7176.0                27
872      879   DLHSWSDP  60091  1526    37998.0                53
883      890  WPGWAWSQG  60089  3341     4464.0                14
903      910  GHQASLYSH  60093  2521     4323.0                 9
1002    1012  AGDDLWSWL  60056  2137     1806.0                 5
1011    1021    YLSAYGS  60076  2844     1074.0                 1
1019    1030  AAGSALPSD  60091  2158     3687.0                 7
...      ...        ...    ...   ...        ...               ...
29686  29978  ASHDGGYLY  60076  2854     2796.0                 2
29700  29992  GPYSDDGPQ  60093  4251     2454.0                 7
29704  29996  GHPWWLHHD  60069  3062     1089.0                 4
29732  30024   SADWAGWQ  60091  1603     1425.0                 3
29737  30029  SLADGALPA  60067  4638     2331.0                15
29769  30061   HAYLQDGD  60062  5159     2466.0                 5
29806  30098  PGAGWYPHW  60067  4858     2919.0                10
29826  30118   GSSDDHAD  60093  3828    10062.0                10
29828  30120  SPSYSLDAA  60093  1638     4329.0                14
29856  30148  WQDSWAQGG  60074  7042     3897.0                 7
29859  30151  ADAWGPSAP  60060  1021     2712.0                18
29868  30160  AHWYWYAPH  60091  1134     6444.0                13
29880  30172  SQHGQPYWD  60098     0     8238.0                14
29889  30181  GPDQDAYYD  60098  3215     4557.0                 4
29916  30208  SLLWSDPQS  60098  8871     4071.0                13
29929  30221  WPPPHLQPS  60098  8146     6768.0                14
29933  30225  WDYHSAPDH  60098  8993     6090.0                11
29968  30260  LWYGPLGPS  60098  9011     4191.0                 8
29991  30283  WSAYGYYQS  60098  3362     4203.0                 7
29994  30286  ASSAWWQHH  60098  7903     1380.0                 4
30008  30300  PWDWPPDAY  60098  7881     1929.0                 6
30012  30304  AQPLGQSHD  60098  4206     4608.0                17
30018  30310  GGSDQLHGY  60098  2271     1068.0                 2
30037  30329  WSAGSPDPQ  60098  8877     3669.0                21
30038  30330  WDGYGAQQH  60098  8048     2685.0                 6
30044  30336  PLHHGGQYH  60098  8075     6681.0                16
30066  30358  LWWAWAPQD  60098  8091    21030.0                20
30087  30379  AYQWWQLHY  60098  7943     4092.0                 9
30116  30408  WLLWDLLYD  60098  7807     1827.0                 2
30162  30454  LLQLHHQYP  60098  7108     2184.0                 3

       YTD_SALES_2009  YTD_TRANSACTIONS_2009 CHANNEL_ACQUISITION BUYER_STATUS  \
1              1263.0                      3                  RT       ACTIVE
12             2064.0                      3                  RT       ACTIVE
24             1875.0                      5                  RT       ACTIVE
31             1623.0                      4                  RT       ACTIVE
76             1359.0                      7                  RT       ACTIVE
77             1815.0                      7                  RT       ACTIVE
124            1116.0                      5                  RT       ACTIVE
137           14448.0                      5                  RT       ACTIVE
228            5586.0                     13                  RT       ACTIVE
322            1410.0                      8                  RT       ACTIVE
360            1272.0                      6                  RT       ACTIVE
384            1029.0                      3                  RT       ACTIVE
393            1026.0                      3                  RT       ACTIVE
473            1845.0                      8                  RT       ACTIVE
481            3702.0                      7                  RT       ACTIVE
487            1170.0                      8                  RT       ACTIVE
539            1245.0                      2                  RT       ACTIVE
557            1083.0                      2                  RT       ACTIVE
599            1818.0                      5                  RT       ACTIVE
622            1023.0                      2                  RT       ACTIVE
649            1218.0                      3                  RT       ACTIVE
801            1320.0                      1                  RT       ACTIVE
816            1209.0                      2                  RT       ACTIVE
837            1461.0                      4                  RT       ACTIVE
872            5133.0                     11                  RT       ACTIVE
883            2007.0                      1                  RT       ACTIVE
903            1395.0                      3                  RT       ACTIVE
1002           1806.0                      5                  RT       ACTIVE
1011           1074.0                      1                  RT       ACTIVE
1019           2097.0                      3                  RT       ACTIVE
...               ...                    ...                 ...          ...
29686          2730.0                      1                  RT       ACTIVE
29700          1704.0                      5                  RT       ACTIVE
29704          1089.0                      4                  RT       ACTIVE
29732          1104.0                      2                  RT       ACTIVE
29737          1134.0                      3                  RT       ACTIVE
29769          2298.0                      3                  RT       ACTIVE
29806          1827.0                      2                  RT       ACTIVE
29826          1728.0                      1                  RT       ACTIVE
29828          1416.0                      1                  RT       ACTIVE
29856          1008.0                      2                  RT       ACTIVE
29859          1377.0                      6                  RT       ACTIVE
29868          4173.0                      9                  RT       ACTIVE
29880          1404.0                      3                  RT       ACTIVE
29889          1920.0                      2                  RT       ACTIVE
29916          1293.0                      4                  RT       ACTIVE
29929          2655.0                      2                  RT       ACTIVE
29933          1449.0                      3                  RT       ACTIVE
29968          1158.0                      2                  RT       ACTIVE
29991          1989.0                      1                  RT       ACTIVE
29994          1296.0                      3                  RT       ACTIVE
30008          1491.0                      2                  RT       ACTIVE
30012          1740.0                      5                  RT       ACTIVE
30018          1068.0                      2                  RT       ACTIVE
30037          1263.0                      4                  RT       ACTIVE
30038          1296.0                      1                  RT       ACTIVE
30044          2985.0                      7                  RT       ACTIVE
30066          5322.0                      5                  RT       ACTIVE
30087          2625.0                      3                  RT       ACTIVE
30116          1827.0                      2                  RT       ACTIVE
30162          1248.0                      2                  RT       ACTIVE

       ZIP9_SUPERCODE
1           600911750
12          600912813
24          600626077
31          600693402
76          600614540
77          600932902
124         600911620
137         600933748
228         600931004
322         600625154
360         600982424
384         600693211
393         600626028
473         600676775
481         600674242
487         600762132
539         600913024
557         600911524
599         600682865
622         600896822
649         600911512
801         600818744
816         600677900
837         600932436
872         600911526
883         600893341
903         600932521
1002        600562137
1011        600762844
1019        600912158
...               ...
29686       600762854
29700       600934251
29704       600693062
29732       600911603
29737       600674638
29769       600625159
29806       600674858
29826       600933828
29828       600931638
29856       600747042
29859       600601021
29868       600911134
29880       600988087
29889       600983215
29916       600988871
29929       600988146
29933       600988993
29968       600989011
29991       600983362
29994       600987903
30008       600987881
30012       600984206
30018       600982271
30037       600988877
30038       600988048
30044       600988075
30066       600988091
30087       600987943
30116       600987807
30162       600987108

[1207 rows x 11 columns]

In [81]:
sales_over_thousand_rt_zip=sales_over_thousand_rt.query('ZIP==60056').ZIP.count()
print("There are {} records with sales > 1000, channel acquisition equal to RT, and zip code 60056.".format(sales_over_thousand_rt_zip))

There are 49 records with sales > 1000, channel acquisition equal to RT, and zip code 60056.